* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #080808;
  color: #f4f4f4;
}
#header {
  width: 100vw;
  background-image: url("me_photo-removebg-preview.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: fixed;
  height: 100vh;
}
html{
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
.logo {
  width: 300px;
  height: auto;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin: 10px 20px;
}
nav ul li a {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 20px;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #63035b;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: width 0.5s ease;
}
nav ul li a.active {
  width: 50%;
}
nav ul li a:hover::after {
  width: 100%;
}
#close-icon,
#menu-icon {
  display: none;
}
.header-content {
  margin-top: 20%;
  max-width: 600px;
  font-size: larger;
}
.introduction {
  font-size: 45px;
  margin-top: 20px;
}
.name {
  color: #b3449b;
  font-weight: bold;
}
<!-------------about------------------- > #about {
  padding: 80px 0;
  color: #e3a9d6;
}
.row {
  display: flex;
  justify-content: space-between;
}
.about-col-1 {
  flex-basis: 150%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 20px;
}
.about-col-2 {
  flex-basis: 60%;
  padding-left: 30px;
}
.sub {
  font-size: 60px;
  font-weight: 600;
  color: #f4f4f4;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #63035b;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: width 0.3s ease;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-links:hover::after {
  width: 100%;
}
.tab-contents ul li {
  list-style: none;
  margin: 15px 0;
}
.mini-subs {
  font-size: 18px;
  color: #b3449b;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
<!-------------services------------------- > #services {
  padding: 30px 0;
}
.service-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  height: auto;
}
.service-list div {
  background: #262626;
  padding: 20px;
  font-size: 17px;
  font-weight: 300;
  border-radius: 15px;
  transition: background 0.3s ease, transform 0.3s ease;
}
.service-list div i {
  font-size: 50px;
  color: #f76ceb;
  margin-bottom: 20px;
}
.service-list div h2 {
  font-size: 30px;
  color: #f4f4f4;
}
.service-list div a {
  text-decoration: none;
  color: #f76ceb;
  font-size: 15px;
  margin-top: 20px;
  display: inline-block;
}
.service-list div:hover {
  background: #ff004f;
  transform: translateY(-10px);
}
<!-------------------portfolio------------------- > #portfolio {
  padding: 50px 0;
}
.portfolio-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  align-items: stretch;
  grid-gap: 60px;
}

.portfolio-list img {
  width: 100%;
  height: 250px;
  border-radius: 15px;
  display: block;
  transition: transform 0.5s ease;
}
.portfolio-item {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #f4f4f4);
  border-radius: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s ease;
}
.layer h3 {
  font-weight: 600;
  margin-bottom: 20px;
}
.layer a {
  margin-top: 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #f4f4f4;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.portfolio-item:hover img {
  transform: scale(1.2);
}
.portfolio-item:hover .layer {
  height: 100%;
}
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 15px 50px;
  border-radius: 10px;
  text-decoration: none;
  transition: background 0.5s ease, color 0.5s ease;
  color: #ff004f;
}
.btn:hover {
  background: #ff004f;
  color: #fff;
}
<!-------------------contact------------------- > .contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  font-size: 20px;
  margin-bottom: 20px;
}
#icons {
  color: #ff004f;
  font-size: 25px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 20px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s ease, color 0.5s ease;
}
.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-7px);
}
.btn.btn2 {
  background: #ff004f;
  color: #fff;
}
.contact-right form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
form input,
form textarea {
  width: 100%;
  padding: 12px 0px;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 10px;
  color: #f4f4f4;
  font-size: 20px;
  border-radius: 10px;
}
form .btn2 {
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
}
.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  color: #262626;
  font-weight: 300;
  margin-top: 20px;
}
/*-------------------------------- css for small screens -------------------*/
nav .fas {
  display: none;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 10px 10%;
    width: 100vw;
    max-width: none;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  #header {
    background-image: url("me_photo-removebg-preview.png");
    background-size: 100%;
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: fit-content;
  }
  .header-content h1 {
    text-shadow: -1px -1px 0 #5b5a5a, 1px -1px 0 #5b5a5a, -1px 1px 0 #5b5a5a,
      1px 1px 0 #5b5a5a;
  }
  .title {
    font-weight: bolder;
    text-shadow: -1px -1px 0 #5b5a5a, 1px -1px 0 #5b5a5a, -1px 1px 0 #5b5a5a,
      1px 1px 0 #5b5a5a;
  }
  .header-content {
    margin-top: 100%;
    text-align: left;
  }

  .logo {
    width: 230px; /* Adjust logo size for small screens */
    height: auto;
  }

  .introduction {
    font-size: 22px;
    margin-top: 15px;
  }
  p {
    font-size: 19px;
    text-align: center;
  }
  #close-icon, #menu-icon {
    display: block;
    font-size: 20px;
    color: #f4f4f4;
  }
  nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100%;
    padding-top: 50px;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  #close-icon {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .sub{
    font-size: 40px;
  }
  .name {
    font-size: 40px;
    text-shadow: -1px -1px 0 #592f56, 1px -1px 0 #592f56, -1px 1px 0 #592f56,
      1px 1px 0 #592f56;
  }
  .borders {
    width: 100vw;
  }
  .tab-titles {
    margin: 20px;
  }
  .service-list {
    flex-direction: column;
    align-items: center;
  }
  .portfolio-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  .row {
    flex-direction: column;
    align-items: center;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis:100%;
    align-items: center;
  }
  .about-col-1{
    margin-bottom: 30px;
  }
  .about-col-2{
    font-size: 14px;
  }
  .tab-links{
    font-size: 16px;
    margin-right: 20px;
  }
  .contact-left{
    flex-basis: 100%;
  }
  .copyright{
    font-size: 14px;
  }
}
